body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  text-align: center;
}

.item-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.item-container button {
  margin: 1rem;
}

.list-wrapper h1 {
  background-color: rgba(188, 188, 188, 0.5);
}
